{% import "utils.j2" as utils %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ utils.header("test","test2") }}
    <!-- Add your content here -->
</body>
</html>