{% macro head(page_Name) %}
<head>
    <title>{{ page_Name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    .fakeimg {
        height: 200px;
        background: #aaa;
    }
    </style>
</head>
{% endmacro %}

{% macro jumbotron_top(Page_Title) %}
<div class="jumbotron text-center" style="margin-bottom:0" >
    <h1>{{ Page_Title }}</h1>
</div>
{% endmacro %}

{% macro navbar(links) %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Le site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% for link in links %}
            <li class="nav-item">
                <a class="nav-link" href="{{ link.href }}"><u>{{ link.name }}</u></a>
            </li>
            {% endfor %}
        </ul>
        {% if session.get('token') %}
        <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
        {% endif %}
    </div>  
</nav>
{% endmacro %}

{% macro jumbotron_bottom() %}
<div class="jumbotron text-center" style="margin-bottom:0">
  <p style="font-size:25px;"><u>Fin du test</u></p>
  <p style="font-size:10px;" align="left">TP de Kerrian Garat</p>
</div>
{% endmacro %}
